:root #completions table.optionContainer {
    width: 100%;
}

:root #completions table tr {
    display: flex;
}

:root #completions table tr td.prefix,
:root #completions table tr td.privatewindow,
:root #completions table tr td.container,
:root #completions table tr td.icon {
    display: inherit;
}
